body {
  font-family: "ABeeZee", sans-serif;
  margin: 0;
}

@font-face {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    src: local('Vinque'), url('./fonts/ABeeZee-Regular.ttf') format('truetype');
}